[Desktop Entry]
Encoding=UTF-8
Name=Link to tilesheet.png
Type=Link
URL=https://github.com/azul3d/examples/blob/master/azul3d_tmx/data/tilesheet.png
Icon=text-html
